/*
  Theme 1 : GRADIENT  
*/
/* html{
  background: linear-gradient(90deg, #00C9FF, #92FE9D, #FC466B 0%, #3F5EFB 100%);
  background-size: 600% 600%;
  animation: animBackgrounnd 8s ease infinite;
}
body {
  background: rgba(255, 255, 255, 0.2);
}
header, article, aside, footer{
  mix-blend-mode: luminosity;
}

header, aside, em {
  background: linear-gradient(90deg, rgb(79, 79, 79) 0%, rgb(32, 32, 32) 100%);
}
footer {
  background: linear-gradient(90deg, rgba(180,180,180,1) 0%, rgba(76,76,76,1) 100%);
}

article {
  background: linear-gradient(90deg, rgb(125, 125, 125) 0%, rgb(208, 208, 208) 100%);
}

@keyframes animBackgrounnd {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
} */
/*
  End Theme 1 : GRADIENT  
*/