/*
  Theme 0 : PLAIN  
*/
h1{
  display: inline-block;
}
svg.logo .label,
svg.logo .frame {
  animation: animLogo 8s ease infinite both;
  fill: #f00;
}
svg.logo .reverse{
  animation: animBackground 8s ease infinite both;
  fill: #000;
}
@keyframes animBackground {
  0% {
    fill: #000;
  }
  19% {
    fill: #000;
  }
  20% {
    fill: #ff0;
  }
  21% {
    fill: #0ff;
  }
  22% {
    fill: #f00;
  }
  23% {
    fill: #0f0;
  }
  24% {
    fill: #00f;
  }
  25% {
    fill: #0ff;
  }
  26% {
    fill: #f0f;
  }
  27% {
    fill: #ff0;
  }
  28% {
    fill: #0f0;
  }
  29% {
    fill: #00f;
  }
  30% {
    fill: #fff;
  }
  69% {
    fill: #fff;
  }
  70% {
    fill: #00f;
  }
  71% {
    fill: #0f0;
  }
  72% {
    fill: #f00;
  }
  73% {
    fill: #0f0;
  }
  74% {
    fill: #00f;
  }
  75% {
    fill: #0ff;
  }
  76% {
    fill: #f0f;
  }
  77% {
    fill: #ff0;
  }
  78% {
    fill: #0ff;
  }
  79% {
    fill: #ff0;
  }
  80% {
    fill: #000;
  }
  100% {
    fill: #000;
  }
}
@keyframes animLogo {
  0% {
    fill: #fff;
  }
  19% {
    fill: #fff;
  }
  20% {
    fill: #00f;
  }
  21% {
    fill: #f00;
  }
  22% {
    fill: #0ff;
  }
  23% {
    fill: #f0f;
  }
  24% {
    fill: #ff0;
  }
  25% {
    fill: #f00;
  }
  26% {
    fill: #0f0;
  }
  27% {
    fill: #00f;
  }
  28% {
    fill: #f0f;
  }
  29% {
    fill: #ff0;
  }
  30% {
    fill: #000;
  }
  69% {
    fill: #000;
  }
  70% {
    fill: #ff0;
  }
  71% {
    fill: #f0f;
  }
  72% {
    fill: #0ff;
  }
  73% {
    fill: #f0f;
  }
  74% {
    fill: #ff0;
  }
  75% {
    fill: #f00;
  }
  76% {
    fill: #0f0;
  }
  77% {
    fill: #00f;
  }
  78% {
    fill: #f00;
  }
  79% {
    fill: #00f;
  }
  80% {
    fill: #fff;
  }
  100% {
    fill: #fff;
  }
}
/*
  end Theme 0 : PLAIN  
*/