/*
  Theme 1 : CODEPEN  
*/
body {
  background-image: url("media/codepen.gif");
  background-color: var(--light-background);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
body>div{
  margin: 1rem auto 3rem;
}
hr {
  display: block;
  margin-top: 3.5rem;
  margin-bottom: -2rem;
  border-width: 0.5rem;
}
header {
  background: transparent;
}
svg.logo {
  background: var(--light-background);
}
svg.logo .label {
  fill: var(--light-color);
}
svg.logo .frame {
  fill: var(--light-color);
}
svg.logo .reverse {
  fill: transparent;
}

article h2{
  background: var(--dark-background);
  color: var(--dark-color);
  font-style: italic;
  font-weight: normal;
  padding-left: .2rem;
  padding-right: .2rem;
  display: inline-block;
}
article h2 a:link{color: var(--dark-a-link-color);}
article h2 a:visited{color: var(--dark-a-visited-color);}
article h2 a:hover{color: var(--dark-a-hover-color);}
article h2 a:active{color: var(--dark-a-active-color);}

aside {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  background: #ddd;
}
/*
  End Theme 1 : CODEPEN  
*/