

/*
  Theme 0 : PLAIN  
*/
h1 {
  animation: animLogo 8s ease infinite both;
}
@keyframes animLogo {
  0% {
    background: #fff;
    border-color: #000;
    color: #000;
    transform: rotate(0);
  }
  19% {
    background: #fff;
    border-color: #000;
    color: #000;
    transform: rotate(0);
  }
  20% {
    background: #ff0;
    border-color: #ff0;
    color: #00f;
    transform: rotate(2deg);
  }
  21% {
    background: #0ff;
    border-color: #0ff;
    color: #f00;
    transform: rotate(-2deg);
  }
  22% {
    background: #f00;
    border-color: #f00;
    color: #0ff;
    transform: rotate(2deg);
  }
  23% {
    background: #0f0;
    border-color: #0f0;
    color: #f0f;
    transform: rotate(-2deg);
  }
  24% {
    background: #00f;
    border-color: #00f;
    color: #ff0;
    transform: rotate(2deg);
  }
  25% {
    background: #0ff;
    border-color: #0ff;
    color: #f00;
    transform: rotate(-2deg);
  }
  26% {
    background: #f0f;
    border-color: #f0f;
    color: #0f0;
    transform: rotate(2deg);
  }
  27% {
    background: #ff0;
    border-color: #ff0;
    color: #00f;
    transform: rotate(-2deg);
  }
  28% {
    background: #0f0;
    border-color: #0f0;
    color: #f0f;
    transform: rotate(2deg);
  }
  29% {
    background: #00f;
    border-color: #00f;
    color: #ff0;
    transform: rotate(-2deg);
  }
  30% {
    background: #000;
    border-color: #fff;
    color: #fff;
    transform: rotate(3deg);
  }
  69% {
    background: #000;
    border-color: #fff;
    color: #fff;
    transform: rotate(3deg);
  }
  70% {
    background: #00f;
    border-color: #00f;
    color: #ff0;
    transform: rotate(-2deg);
  }
  71% {
    background: #0f0;
    border-color: #0f0;
    color: #f0f;
    transform: rotate(2deg);
  }
  72% {
    background: #f00;
    border-color: #f00;
    color: #0ff;
    transform: rotate(-2deg);
  }
  73% {
    background: #0f0;
    border-color: #0f0;
    color: #f0f;
    transform: rotate(2deg);
  }
  74% {
    background: #00f;
    border-color: #00f;
    color: #ff0;
    transform: rotate(-2deg);
  }
  75% {
    background: #0ff;
    border-color: #0ff;
    color: #f00;
    transform: rotate(2deg);
  }
  76% {
    background: #f0f;
    border-color: #f0f;
    color: #0f0;
    transform: rotate(-2deg);
  }
  77% {
    background: #ff0;
    border-color: #ff0;
    color: #00f;
    transform: rotate(2deg);
  }
  78% {
    background: #0ff;
    border-color: #0ff;
    color: #f00;
    transform: rotate(-2deg);
  }
  79% {
    background: #ff0;
    border-color: #ff0;
    color: #00f;
    transform: rotate(2deg);
  }
  80% {
    background: #fff;
    border-color: #000;
    color: #000;
    transform: rotate(0);
  }
  100% {
    background: #fff;
    border-color: #000;
    color: #000;
    transform: rotate(0);
  }
}
/*
  end Theme 0 : PLAIN  
*/