@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
:root {
  /* global */
  --font-family: 'Courier Prime', monospace;
  --background: #666;

  /* light block */
  --light-a-link-color: #00e;
  --light-a-visited-color : #551A8B;
  --light-a-hover-color : #f00;
  --light-a-active-color : #0f0;
  --light-color: #000;
  --light-background: #fff;

  /* Dark block */
  --dark-a-link-color: #ffff11;
  --dark-a-visited-color : #aae574;
  --dark-a-hover-color : #0ff;
  --dark-a-active-color : #f0f;
  --dark-color: #fff;
  --dark-background: #000;
}
* {
  /* mix-blend-mode: luminosity; */
}
html{
  overflow-x: hidden;
  font-size: 100%;
  font-family: var(--font-family);
}
body{
  margin: 0;
  background: var(--background);
}
body>div{
  margin: 0 auto;
  max-width: 16cm;
}
ul, ol{
  padding-left: 1.8rem;
}
ul>li {
  list-style-type:'> ';
}
header, footer, article, aside {
  margin:0;
  padding:0.01rem 1rem;
}

a:hover{color: var(--light-a-hover-color)}
a:active{color: var(--light-a-active-color)}

a.video {
  position: relative;
  background: var(--light-background);
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
a.video:link{color: var(--dark-a-link-color);}
a.video:visited{color: var(--dark-a-visited-color);}
a.video:hover{color: var(--dark-a-hover-color);}
a.video:active{color: var(--dark-a-active-color);}
a.video img {
  display: block;
  width: 100%;
}
a.video:after {
  content: '>';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  background: var(--dark-background);
  text-align: center;
  text-decoration: inherit;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  display: block;
}
article {
  background: var(--light-background);
  color: var(--light-color);
}
article form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
article form input{
  display: none;
}
article form input ~ div {
  display: none;
}
article form input ~ label {
  color: var(--light-a-link-color);
}
article form input ~ label:before {
  content: '+ ';
}
article form input:checked ~ div {
  display: inherit;
}
article form input:checked ~ label {
  color: var(--light-a-visited-color);
}
article form input:checked ~ label:before {
  content: '- ';
}
article form label{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.8rem;
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}
article form label:hover{
  color: var(--light-a-hover-color);
}
article form label:before{
  position: absolute;
  transform: translateX(-200%);
  color: var(--light-color);
}

aside{
  background: var(--dark-background);
  color: var(--dark-color);
}
aside a:link{color: var(--dark-a-link-color);}
aside a:visited{color: var(--dark-a-visited-color);}
aside a:hover{color: var(--dark-a-hover-color);}
aside a:active{color: var(--dark-a-active-color);}

hr {
  display: none;
  border-top: .1rem solid var(--light-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-left: -6.4rem;
  margin-right: -6.4rem;
}

em {
  background: var(--dark-background);
  color: var(--dark-color);
  font-style: normal;
  padding-left: .2rem;
  padding-right: .2rem;
}
em a:link{color: var(--dark-a-link-color);}
em a:visited{color: var(--dark-a-visited-color);}
em a:hover{color: var(--dark-a-hover-color);}
em a:active{color: var(--dark-a-active-color);}

figure {
  margin-left:0;
  margin-right:0;
}
blockquote {
  margin-left:1rem;
  margin-right:1rem;
  text-align: center;
}
blockquote:before,
blockquote:after {
  content: '//';
  margin-left: -1.2rem;
  margin-right: -1rem;
  display:block;
}
figcaption {
  text-align: right;
  font-size: 0.8rem;
}
figcaption:before {
  content:'\2014\00a0';
}
figcaption:first-child {
  margin-top: 1rem;
}
figcaption:last-child {
  margin-bottom: 1rem;
}
blockquote:before {
  text-align: left;
}
blockquote:after {
  text-align: right;
}

address {
  font-style: normal;
}

header {
  text-align:center;
  background: var(--dark-background);
}
h1 {
}
svg.logo {
  display: block;
  height: 4rem;
  margin: 0 auto;
}
svg.logo .label {
  fill: #fff;
}
svg.logo .frame {
  fill: #fff;
}
svg.logo .reverse {
  fill: transparent;
}

footer{
  background: var(--light-background);
}

/*
  Override import
*/
/* @import url('stylesheet-override-gradient.css'); */
/* @import url('stylesheet-override-plain.css'); */
@import url('/stylesheet-override-salmon.css');